@use "sass:map";
@import "variables";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: unset;
}

.error {
  color: map-get($colors, "danger");
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
}

.success {
  color: map-get($colors, "success-text");
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
}
