@use "sass:map";
@import "../../styles/_variables";

.list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid map-get($colors, "black");
  width: calc(100% - 2px);
}

.header {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid map-get($colors, "black");
  font-weight: 600;

  & > .column {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15%;
    height: 40px;

    &:not(:first-of-type) {
      border-left: 1px solid map-get($colors, "black");
    }

    &:last-of-type {
      border-right: 1px solid map-get($colors, "black");
    }
  }
}

.body {
  flex-basis: 100%;

  & .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  & .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15%;
    height: 50px;

    &:not(:first-of-type) {
      border-left: 1px solid map-get($colors, "black");
    }

    &:last-of-type {
      border-right: 1px solid map-get($colors, "black");
    }
  }
}

.empty {
  display: block;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
